@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "https://fonts.googleapis.com/css?family=Inconsolata"; */

@layer utilities {
    .shadow-neumorphism {
        transition: all 0.3s ease-in-out;
    }

    .shadow-neumorphism:hover {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
            -10px -10px 20px rgba(255, 255, 255, 0.8);
    }
}
body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    margin-bottom: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./assets/CatalogoJuegos.jpg") center/cover no-repeat fixed;
    filter: blur(3px);
    z-index: -1;
}

.ButtonNav {
    border: 2px solid;
    padding: 6px 14px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.ButtonNav:before {
    content: "";
}

.ButtonNav:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ButtonBlur {
    border: 2px solid;
    padding: 6px 14px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: box-shadow 0.5s ease;
    overflow: hidden;
}
.ButtonBlur:before {
    content: "";
}
.ButtonBlur:hover {
    box-shadow: 0 5px 45px 10px rgba(0, 0, 0, 0.15);
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    animation: pulse 1.5s infinite;
}

.hover-blur:hover {
    filter: blur(5px);
}

.tarjeta {
    width: 300px; /* Ancho fijo */
    height: 400px; /* Altura fija */
    margin: 10px; /* Margen entre tarjetas */
}

.item-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-detail-card {
    width: 250px; /* Tamaño fijo */
    height: 350px; /* Tamaño fijo */
    margin: 10px;
}

.image-container {
    width: 200px; /* Tamaño deseado para la imagen */
    height: 100px; /* Tamaño deseado para la imagen */
}


/* NotFound.css */



/* .NotFoundContainer {
    box-sizing: border-box;
    height: 100%;
    background-color: #000000;
    background-image: radial-gradient(#11581e, #041607),
        url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inconsolata", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1ex rgba(51, 255, 51, 1), 0 0 2px rgba(255, 255, 255, 0.8);
} */

.noise {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.02;
}

.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0) 100%
    );
    background-size: auto 4px;
    z-index: 1;
}

.overlay::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg,
        transparent 0%,
        rgba(32, 128, 32, 0.2) 2%,
        rgba(32, 128, 32, 0.8) 3%,
        rgba(32, 128, 32, 0.2) 3%,
        transparent 100%
    );
    background-repeat: no-repeat;
    animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
    0% {
        background-position: 0 -100vh;
    }
    35%,
    100% {
        background-position: 0 100vh;
    }
}

.terminal {
    box-sizing: inherit;
    position: absolute;
    height: 100%;
    width: 1000px;
    max-width: 100%;
    padding: 4rem;
    text-transform: uppercase;
}

.output {
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1px rgba(51, 255, 51, 0.4),
        0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
    content: "> ";
}

/*
.input {
  color: rgba(192, 255, 192, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.input::before {
  content: "$ ";
}
*/



.errorcode {
    color: white;
}
